# Byte-compiled / optimized / DLL files
.DS_Store
__pycache__/
*.py[cod]

# Distribution / packaging
.Python
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Translations
*.mo

#Default data_dir
**/data/
**/data
/data
